.formularioCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.cajaFormulario{
    border: 2px solid rgb(216, 216, 216);
    border-radius: 10px; 
    width: 400px;
    height: 720px;
    margin-bottom: 20px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20;
}