
.sectionHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: -80px;
}

.GanaderiaButton {
    width: 450px;
    height: 250px;

}

.AgriculturaButton {
    width: 450px;
    height: 250px;
}