.instructorCard {
    border: 1px solid rgba(0, 0, 0, 0.164);
    width: 300px;
    height: auto;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px rgba(0, 5, 68, 0.322);
    border-radius: 10px; /* Redondea los bordes */
}
