.principalTitle{
    padding-left: 2.5%;
}

.infoGrids {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    gap: 8px; /* Espaciado entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Asegúrate de que ocupe el ancho del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.instructorTable{
    list-style: none;
    padding: 20px;
}

.createInstructorButton{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}