.sectionHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 80px; 
}

.Boton {
    margin-bottom: 20px; 
}

.ClientesButton {
    width: 450px;
    height: 200px;
}

.ProfesoresButton {
    width: 450px;
    height: 200px;
} 

.ActividadesRutinasContainer {
    display: flex;
    justify-content: space-between;
    width: 100;
    margin-bottom: 10px; /
}

.ActividadesButton {
    width: 220px;
    height: 250px;
}

.RutinasButton {
    width: 220px;
    height: 250px;
} 

.TransaccionesButton {
    width: 450px;
    height: 200px;
}

