.sectionHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 140px; 
}

.Boton {
    margin-bottom: 10px; 
}

.ClientsButton {
    width: 450px;
    height: 200px;
}

.ProfessorsButton {
    width: 450px;
    height: 200px;
} 

.ActivitiesRoutinesContainer {
    display: flex;
    justify-content: space-between;
    width: 100;
    margin-bottom: 10px; /
}

.ActivitiesButton {
    width: 220px;
    height: 250px;
}

.RoutinesButton {
    width: 220px;
    height: 250px;
} 

.TransactionsButton {
    width: 450px;
    height: 200px;
}

