
.mainRecuperacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.stackButton{
    margin-left: 8px;
}

.nextButton{
    width: 500px;
}
